@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@import 'flowbite';

@tailwind base;

@layer base {
  :root {
    --terra-blue-color: #4682b5;
    --terra-green-color: #76c268;
    --terra-dark-blue-color: #2c3e50;
    --terra-dark-green-color: #4e7a46;
  }
}

@tailwind components;
@tailwind utilities;
